body {
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: #fff;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
}
.search-bar{
  display: flex;
  flex-wrap: wrap;

}
.logo img {
  width: 250px;
  height: 200px;
  min-width: 50px;
  min-height: 30px;
}

nav ul {
  list-style: none;
  text-align: right;
  align-items: right;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right:10px;
}

nav ul li a {
  text-shadow: #141414;
  font-weight: bolder;
  color: #fff;
  text-decoration: none;
}

.user-profile img {
  width: 30px;
  border-radius: 50%;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
}
.header{
  position: relative;
}
.hero img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-size: 3em;
  animation: fadeIn 2s;
}

.hero-text button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  background-color: #e50914;
  color: white;
  cursor: pointer;
  animation: fadeIn 2s;
}

.content-row {
  padding: 20px;
}

.content-row h2 {
  margin: 0;
  margin-bottom: 10px;
}
.content {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.content-item {
  flex: 0 0 auto;
  transition: transform 0.3s;
}

.content-item:hover {
  transform: scale(1.1);
}

.content img {
  width: 200px;
  height:200px;
  margin-right: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #141414;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.hero{
  background: linear-gradient(90deg, rgba(0,0,0,1) 6%, rgba(252,176,69,0) 100%);
}
header{
  background-image: url(./bg1.jpg);
  width: 100%;
  object-fit: cover;
}
.user-profile button{
  background-color: transparent;
  border: transparent;
}